{% extends 'base.html' %}

{% block content %}

<div class="body-container">
    <div class="container">
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-4">
                <div class="background-white padding-full-md-container">
                    <div class="sign-up-row row">
                        <div class="instagram col-centered">
                            <h1 class="text-hide-custom d-block">Instagram</h1>
                        </div>
                    </div>
                    {% include 'include/form-horizontal.html' with form=login_form button_text="Log In" %}

                    <div>
                        <div class="padding-md-container text-center insta-text">Or</div>

                    </div>
                    <a href="https://www.facebook.com/v2.10/dialog/oauth?client_id={{ facebook_app_id }}&
        scope={{ facebook_app_scope }}&
        redirect_uri={{ request.scheme }}://{{ request.META.HTTP_HOST }}{% url 'member:facebook_login' %}"
                       class="facebook-btn btn btn-block "><p class="facebook-icon">F</p>Login with Facebook</a>
                </div>

                <div class="padding-sm-container background-white margin-xs-top">
                    <div class="col-centered">
                        <p class="text-center">Not a member yet? <a href="{% url 'member:signup' %}" class="">Sign Up</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}