<div class="sign-up-row row">
    <div class="col-centered">
        <h1>{{ title }}</h1>
    </div>
</div>
<form class="form-horizontal" method="POST">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group{% if field.errors %} has-error{% endif %}">
        <label for="{{ form.username.auto_id }}" class="col-xs-2 control-label">
            {{ field.label }}
        </label>
        <div class="col-xs-10">
            {{ field}}
        </div>

        <!--{% if field.errors %}-->
        <!--<ul>-->
            <!--{% for error in field.errors %}-->
            <!--<li>{{ error }}</li>-->
            <!--{% endfor %}-->
        <!--</ul>-->
    </div>

    {% endif %}
    {% endfor %}

    <button type="submit" class="btn btn-primary btn-post">{{ button_text }}</button>
</form>