<div class="row padding-lg-container">
    <div class="container post-container">
        <div class="row">
            <div class="col-md-12">
                <a href="#">{{ post.author }}</a>
                {% if post.author == user %}
                <form class="float-right display-inline"
                      action="{% url 'post:post_delete' post_pk=post.pk %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="fa fa-times"></button>
                </form>
                {% endif %}
            </div>
        </div>
        <div class="row overflow-hidden textalign-center">
            <img class="img-fluid" id="post-photo-{{ post.pk }}" src="{{ post.photo.url }}" alt="image">
        </div>
        <ul class="comments">
            {% for comment in post.comments.all %}
            <li class="col comment"><a href="">{{ comment.author }}</a> {{ comment }}
                {% if comment.author == user %}
                <form class="float-right display-inline"
                      action="{% url 'post:delete_comment' comment_pk=comment.pk %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="fa fa-times"></button>
                </form>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        <div class="comment-form-container clearfix">
            <form method="POST" class="comment-form" action="{% url 'post:add_comment' post_pk=post.pk %}/?next=">
                {{ comment_form }}
                {% csrf_token %}
            </form>

            <!-- Modal beginning -->
            <button class="fa post-options" type="button" class="btn btn-info btn-lg" data-toggle="modal"
                    data-target="#myModal-{{ post.pk }}">&#xf141;
            </button>
            <div id="myModal-{{ post.pk }}" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <button class="post-modal-option btn btn-default"><a href="{{ post.pk }}">게시물로 이동</a></button>
                        <button class="post-modal-option btn btn-default">부적절한 콘텐츠 신고</button>
                        <button class="post-modal-option btn btn-default">퍼가기</button>
                        <button class="post-modal-option btn btn-default" data-dismiss="modal">취소</button>
                    </div>

                </div>
            </div>
            <!-- Modal end -->

        </div>
    </div>
</div>

