<nav class="navbar fixed-top navbar-toggleable-md navbar-light bg-faded">
    <div class="instagram-container container container-fluid">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="instagram-main navbar-brand" href="{% url 'post:post_list' %}"></a>

        {% if user.is_authenticated %}
        <div class="" id="navbarToggler">
            <ul class="navbar-nav">
                <li class="nav-item sidepadding-md-container">
                    <a class="btn btn-primary" href="{% url 'post:post_create' %}">Create Post</a>
                </li>
                <li class="nav-item sidepadding-md-container">
                    <a href="" class="user-icon user-icon-heart"></a>
                </li>
                <li class="nav-item sidepadding-md-container">
                    <a class="user-icon user-icon-user" href="{% url 'member:login' %}">
                    </a>
                </li>
            </ul>
        </div>
        {% endif %}
    </div>
</nav>