<nav class="fixed-top navbar navbar-toggleable-md navbar-light bg-faded">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{% url 'post:post_list' %}">Instagram</a>

        <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo02">
            <ul class="navbar-nav my-2 my-lg-0">
                <li class="nav-item sidepadding-sm-container">
                    <a class="user-icon fa fa-user-o" href="{% url 'member:login' %}">
                        {% if user.is_authenticated %}
                        <span> {{ user.username }}</span>
                        {% endif %}
                    </a>
                </li>
                <li class="nav-item sidepadding-sm-container">
                    <a class="btn btn-primary" href="{% url 'post:post_create' %}">Create Post</a>
                </li>
            </ul>
        </div>
    </div>
</nav>