<nav class="fixed-top navbar navbar-toggleable-md">

    <div class="container navbar-container ">
        <a class="navbar-brand" href="{% url 'post_list' %}">Instagram</a>

        <ul class="menu-options reset-margin">
            {% if user.is_authenticated %}
            {{ user.username }}
            <a class="user-icon fa fa-user-o" href="/member/login/"></a>
            {% else %}
            <a class="user-icon fa fa-user-o" href="/member/login/"></a>
            {% endif %}
        </ul>
    </div>

</nav>